[Desktop Entry]
Type=Application
Name=OpenCVNodeEditor
Exec=OpenCVNodeEditor
Icon=OpenCVNodeEditor
Comment=Your application's description
Categories=Office;